<a href="https://colab.research.google.com/github/imamsyahrizal/coding-test-iot/blob/main/Task2_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!cp '/content/drive/MyDrive/Tes CAD-IT/sensor_data.json' '/content/'

In [3]:
import pandas as pd

In [4]:
fileName = '/content/sensor_data.json'
dataSensor = pd.read_json(fileName)

In [5]:
dataSensor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   array   1440 non-null   object
dtypes: object(1)
memory usage: 11.4+ KB

In [6]:
dataSensor.head()

                                               array
0  {'temperature': 21.279782079384667, 'humidity'...
1  {'temperature': 21.850241860660457, 'humidity'...
2  {'temperature': 25.93331731363279, 'humidity':...
3  {'temperature': 21.738958092762072, 'humidity'...
4  {'temperature': 26.092709884073468, 'humidity'...

In [7]:
dataSensorNew = pd.DataFrame(list(dataSensor['array']))
dataSensorNew

      temperature   humidity   roomArea    id      timestamp
0       21.279782  87.252551  roomArea1     1  1593666000000
1       21.850242  89.434610  roomArea2     2  1593666000000
2       25.933317  90.486834  roomArea3     3  1593666000000
3       21.738958  95.380901  roomArea1     4  1593667800053
4       26.092710  92.225805  roomArea2     5  1593667800053
...           ...        ...        ...   ...            ...
1435    19.627947  90.115336  roomArea2  1436  1594526424353
1436    23.906994  92.561583  roomArea3  1437  1594526424353
1437    22.617990  93.168535  roomArea1  1438  1594528224401
1438    22.810529  89.656614  roomArea2  1439  1594528224401
1439    18.366510  95.243434  roomArea3  1440  1594528224401

[1440 rows x 5 columns]

In [8]:
dataSensorNew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  1440 non-null   float64
 1   humidity     1440 non-null   float64
 2   roomArea     1440 non-null   object
 3   id           1440 non-null   int64
 4   timestamp    1440 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 56.4+ KB

In [9]:
df1=dataSensorNew.groupby(['roomArea', 'id'], as_index=False).sum().to_json(indent=4, orient='records')
#df1

In [10]:
df1=pd.read_json(df1)
df1

       roomArea    id  temperature   humidity               timestamp
0     roomArea1     1    21.279782  87.252551 2020-07-02 05:00:00.000
1     roomArea1     4    21.738958  95.380901 2020-07-02 05:30:00.053
2     roomArea1     7    17.787350  95.288826 2020-07-02 06:00:00.147
3     roomArea1    10    24.678858  94.494062 2020-07-02 06:30:00.221
4     roomArea1    13    24.965903  94.410725 2020-07-02 07:00:00.223
...         ...   ...          ...        ...                     ...
1435  roomArea3  1428    26.981793  95.688904 2020-07-12 02:30:24.095
1436  roomArea3  1431    17.546673  95.714509 2020-07-12 03:00:24.187
1437  roomArea3  1434    22.439312  88.811601 2020-07-12 03:30:24.273
1438  roomArea3  1437    23.906994  92.561583 2020-07-12 04:00:24.353
1439  roomArea3  1440    18.366510  95.243434 2020-07-12 04:30:24.401

[1440 rows x 5 columns]

In [11]:
df2 = df1.drop('id', axis=1)
df2

       roomArea  temperature   humidity               timestamp
0     roomArea1    21.279782  87.252551 2020-07-02 05:00:00.000
1     roomArea1    21.738958  95.380901 2020-07-02 05:30:00.053
2     roomArea1    17.787350  95.288826 2020-07-02 06:00:00.147
3     roomArea1    24.678858  94.494062 2020-07-02 06:30:00.221
4     roomArea1    24.965903  94.410725 2020-07-02 07:00:00.223
...         ...          ...        ...                     ...
1435  roomArea3    26.981793  95.688904 2020-07-12 02:30:24.095
1436  roomArea3    17.546673  95.714509 2020-07-12 03:00:24.187
1437  roomArea3    22.439312  88.811601 2020-07-12 03:30:24.273
1438  roomArea3    23.906994  92.561583 2020-07-12 04:00:24.353
1439  roomArea3    18.366510  95.243434 2020-07-12 04:30:24.401

[1440 rows x 4 columns]

### Min

In [12]:
df_min=df2.groupby(['roomArea', pd.Grouper(freq='D', key='timestamp')]).min().reset_index()
df_min=df_min.rename(columns={'temperature':'temperatureMin', 'humidity':'humidityMin'})
dfTemp_min = df_min.drop('humidityMin', axis=1)
dfHum_min = df_min.drop('temperatureMin', axis=1)

### Max

In [13]:
df_max = df2.groupby(['roomArea', pd.Grouper(freq='D', key='timestamp')]).max().reset_index()
df_max=df_max.rename(columns={'temperature':'temperatureMax', 'humidity':'humidityMax'})
dfTemp_max = df_max.drop('humidityMax', axis=1)
dfHum_max = df_max.drop('temperatureMax', axis=1)

### Median

In [14]:
df_median=df2.groupby(['roomArea', pd.Grouper(freq='D', key='timestamp')]).median().reset_index()
df_median=df_median.rename(columns={'temperature':'temperatureMedian', 'humidity':'humidityMedian'})
dfTemp_median = df_median.drop('humidityMedian', axis=1)
dfHum_median = df_median.drop('temperatureMedian', axis=1)

### Average

In [15]:
df_mean=df2.groupby(['roomArea', pd.Grouper(freq='D', key='timestamp')]).mean().reset_index()
df_mean=df_mean.rename(columns={'temperature':'temperatureMean', 'humidity':'humidityMean'})
dfTemp_mean = df_mean.drop('humidityMean', axis=1)
dfHum_mean = df_mean.drop('temperatureMean', axis=1)

## All

In [16]:
dfTemperature= pd.merge(dfTemp_min, dfTemp_max, on=['roomArea', 'timestamp']).merge(dfTemp_median, on=['roomArea', 'timestamp']).merge(dfTemp_mean, on=['roomArea', 'timestamp'])
dfTemperature=dfTemperature.rename(columns={'temperatureMin':'Min', 'temperatureMax':'Max', 'temperatureMedian':'Median', 'temperatureMean':'Mean'})
dfTemperature

     roomArea  timestamp        Min        Max     Median       Mean
0   roomArea1 2020-07-02  17.174949  26.673704  20.853460  20.975726
1   roomArea1 2020-07-03  17.005340  26.769534  21.437577  21.688645
2   roomArea1 2020-07-04  17.060048  26.907201  21.626358  21.827394
3   roomArea1 2020-07-05  17.051165  26.893966  21.743976  22.054218
4   roomArea1 2020-07-06  17.115379  26.693667  22.195780  22.134418
5   roomArea1 2020-07-07  17.218585  26.966150  20.875176  21.326926
6   roomArea1 2020-07-08  17.434826  26.912232  21.476574  21.894950
7   roomArea1 2020-07-09  17.328260  26.980360  23.619499  22.447341
8   roomArea1 2020-07-10  17.116608  26.943562  21.012436  21.527358
9   roomArea1 2020-07-11  17.131516  26.812108  22.091964  22.282162
10  roomArea1 2020-07-12  17.354796  26.777606  23.682022  22.995579
11  roomArea2 2020-07-02  17.257017  26.729741  21.284362  21.693697
12  roomArea2 2020-07-03  17.108971  26.378676  21.193057  21.446452
13  roomArea2 2020-07-04  17.133661  26.614564  21.230175  21.961981
14  roomArea2 2020-07-05  17.271888  26.652219  21.499209  21.548422
15  roomArea2 2020-07-06  17.128593  26.824174  23.088382  22.902401
16  roomArea2 2020-07-07  17.212446  26.759767  22.248660  21.936241
17  roomArea2 2020-07-08  17.085249  26.792468  22.566805  22.068224
18  roomArea2 2020-07-09  17.055808  26.999287  22.608411  22.510251
19  roomArea2 2020-07-10  17.033950  26.948742  22.093384  21.802895
20  roomArea2 2020-07-11  17.417361  26.941793  22.826801  22.847854
21  roomArea2 2020-07-12  17.515441  25.764404  19.719849  20.632794
22  roomArea3 2020-07-02  17.126253  25.933317  22.196923  21.981684
23  roomArea3 2020-07-03  17.209985  26.786283  21.522606  21.599302
24  roomArea3 2020-07-04  17.219402  26.842787  22.020249  21.898403
25  roomArea3 2020-07-05  17.141040  26.979058  21.292097  21.718636
26  roomArea3 2020-07-06  17.392665  26.950621  21.175535  21.676544
27  roomArea3 2020-07-07  17.439981  26.854977  21.705379  21.968644
28  roomArea3 2020-07-08  17.069630  26.685504  22.966985  22.206934
29  roomArea3 2020-07-09  17.904846  26.953812  22.678729  22.126801
30  roomArea3 2020-07-10  17.841353  26.860020  21.384723  21.708990
31  roomArea3 2020-07-11  17.411602  26.804511  22.914620  22.590635
32  roomArea3 2020-07-12  17.546673  26.981793  21.716050  21.177825

In [17]:
dfHumidity= pd.merge(dfHum_min, dfHum_max, on=['roomArea', 'timestamp']).merge(dfHum_median, on=['roomArea', 'timestamp']).merge(dfHum_mean, on=['roomArea', 'timestamp'])
dfHumidity=dfHumidity.rename(columns={'humidityMin':'Min', 'humidityMax':'Max', 'humidityMedian':'Median', 'humidityMean':'Mean'})
dfHumidity

     roomArea  timestamp        Min        Max     Median       Mean
0   roomArea1 2020-07-02  87.113511  96.764061  92.071502  92.255201
1   roomArea1 2020-07-03  87.486024  96.736813  92.173740  91.799654
2   roomArea1 2020-07-04  87.175241  96.919821  90.959930  91.289157
3   roomArea1 2020-07-05  87.380310  96.909704  91.862173  91.752173
4   roomArea1 2020-07-06  87.384378  96.999543  92.446474  92.362963
5   roomArea1 2020-07-07  87.233410  96.859104  92.455295  92.203028
6   roomArea1 2020-07-08  87.338590  96.542438  92.588461  92.367943
7   roomArea1 2020-07-09  87.363798  96.755762  92.472846  92.384085
8   roomArea1 2020-07-10  87.128247  96.941817  92.940806  92.393586
9   roomArea1 2020-07-11  87.133256  96.796783  91.889241  91.940861
10  roomArea1 2020-07-12  87.032932  95.953356  91.964332  91.980610
11  roomArea2 2020-07-02  87.425267  96.949686  91.888630  91.970106
12  roomArea2 2020-07-03  87.007960  96.736152  93.104771  92.683502
13  roomArea2 2020-07-04  87.039648  96.609589  91.975620  91.779957
14  roomArea2 2020-07-05  87.223854  96.579730  92.044745  91.985922
15  roomArea2 2020-07-06  87.153071  96.946636  90.881709  91.541010
16  roomArea2 2020-07-07  87.298954  96.787666  91.911759  92.058505
17  roomArea2 2020-07-08  87.242140  96.692819  91.797144  92.075879
18  roomArea2 2020-07-09  87.042187  96.754355  91.564216  91.790202
19  roomArea2 2020-07-10  87.032323  96.937016  91.786858  91.895116
20  roomArea2 2020-07-11  87.095928  96.478993  92.411163  92.352712
21  roomArea2 2020-07-12  87.902797  96.696650  89.812629  90.561231
22  roomArea3 2020-07-02  87.253083  96.796979  91.997936  92.220290
23  roomArea3 2020-07-03  87.105349  96.920165  91.059564  91.268427
24  roomArea3 2020-07-04  87.569960  96.885803  91.896271  92.076432
25  roomArea3 2020-07-05  87.266470  96.707755  91.147800  91.603356
26  roomArea3 2020-07-06  87.108905  96.921077  92.990329  92.378088
27  roomArea3 2020-07-07  87.026001  96.718349  93.256938  92.556034
28  roomArea3 2020-07-08  87.192079  96.986598  92.388111  92.137274
29  roomArea3 2020-07-09  87.683816  96.760668  92.904631  92.452956
30  roomArea3 2020-07-10  87.075597  96.716429  90.818581  91.211573
31  roomArea3 2020-07-11  87.086575  96.909171  91.032005  91.438487
32  roomArea3 2020-07-12  87.385461  96.506475  93.902509  92.644962